*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
   height:100%
}

a{
    text-decoration: none;
    color: white;
}

.column {
         float: left;
     }

.column.full { width: 100%;}
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%;}
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.three-fourths { width: 75%; }
.column.flow-opposite { float: right; }
.column.tenth { width: 10%; }
.column.nine-tenth { width: 90%; }
.column.three-fifths{width: 60%;}
.column.two-fifths{width: 40%;}

.fa.fa-navicon.dropbtn{
    font-size: 32px;
}

.mobile-tabs{
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #438496;
    background: -webkit-linear-gradient(left top, #438496, rgba(67, 132, 150, .7));

    text-align: center;
    color: white;
    display: none;
}

.dropbtn {
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: fixed;
    display: block;
    right: 0px;
}


.dropdown-content {
    border-radius: 0 0 0 15px;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    color: black;
    padding: 25px 25px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1; font-weight: bolder;
color:#CD5360; border-radius: 15px; }


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #CD5360;
}


p{
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

h3{
    Font-family: 'Arima Madurai', Helvetica, Arial, sans-serif;
}

h1{
    Font-family: 'Arima Madurai', Helvetica, Arial, sans-serif;
}

h2{
    Font-family: 'Arima Madurai', Helvetica, Arial, sans-serif;}

h4{
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.hidden{
    display: none;
}

.nav-bar h2:hover{
    font-weight: bolder;
}

.nav-bar{
    background-color: #438496;
    background: -webkit-linear-gradient(left top, #438496, rgba(67, 132, 150, .7));

    text-align: center;
    color: white;
}

.nav-bar h2{
    color: white;
    font-size: 1.3rem;
    font-weight: normal;
}

.logo{
    text-align: left;
    height: 70px;
    display: table;
}

.sponsor{
    height: 70px;
    display: table;
}

.FAQ {
    height: 70px;
    display: table;
}

.sponsor h2{
    display: table-cell;
    vertical-align: middle;
}

.FAQ h2{
    display: table-cell;
    vertical-align: middle;
}

.logo img{
    height: 50px;
    width: auto;
    display: table-cell;
    vertical-align: middle;
    margin-left: 10%;
    margin-top: 2%;
}

.footer{
    background-color: #438496;
    background: -webkit-linear-gradient(left top, #438496, rgba(67, 132, 150, .7));

    text-align: center;
    color: white;
}

.footer h2{
    color: white;
    font-size: 1.3rem;
    font-weight: normal;
}
.footer p{
    font-size: .7rem;
    text-align:center;
    vertical-align: middle;
    display: table-cell;
}

.copyright{
    height:60px;
    display: table;
}

.faq{
    height:60px;
    display: table;
}

.faq h2{
    vertical-align: middle;
    display: table-cell;
}

.icon{
    height:60px;
    display: table;
}

.icon i{
    text-align:center;
    vertical-align: middle;
    display: table-cell;
    font-size: 36px;
}


@media (max-width: 400px) {
    
    .hero{
        margin-top: 60px;
    }
    
    .nav-bar{
        display: none;
    }
    
    .mobile-tabs{
        display: block;
    }
}
