*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
   height:100%
}

.column.third h2{
    text-align: right;
}

a{
    text-decoration: none;
    color: white;
}

.column {
         float: left;
     }

.column.full { width: 100%;}
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%;}
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.three-fourths { width: 75%; }
.column.flow-opposite { float: right; }
.column.tenth { width: 10%; }
.column.nine-tenth { width: 90%; }
.column.three-fifths{width: 60%;}
.column.two-fifths{width: 40%;}

.fa.fa-navicon.dropbtn{
    font-size: 32px;
}

.mobile-tabs{
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: #438496;
    background: -webkit-linear-gradient(left top, #438496, rgba(67, 132, 150, .7));

    text-align: center;
    color: white;
    display: none;
}

.fa.fa-navicon{
    font-size: 36px;
}

ul, li, a {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000000;
}
ul > li {
    float: right;
    height:70px;
    display: table;
}

ul > li i.fa.fa-navicon{
    display: table-cell;
    vertical-align: middle;
    width: 80px;
}

ul > li a {
    color: black;
    line-height: 40px;
    height:40px;
    display:block;
    padding:0px 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

ul > li a:hover {
    color:  #CD5360;
    font-weight: bolder;
}

.active{
    background-color: #CD5360;
}

ul li ul {
    display: none;
    position: absolute;
    background: #FDFDFD;
    top:70px;
    width: 180px;
    right: 0px;
    border-radius: 0  0  0 15px;
    
    -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

ul li ul li {
    float: none;
    line-height: 40px;
    height: 70px;
    width: 100%;
    display: table;
}



.hidden{
    display: none;
}

p{
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

h3{
    Font-family: 'Arima Madurai', Helvetica, Arial, sans-serif;
}

h1{
    Font-family: 'Arima Madurai', Helvetica, Arial, sans-serif;
}

h2{
    Font-family: 'Arima Madurai', Helvetica, Arial, sans-serif;}

h4{
    Font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.nav-bar h2:hover{
    font-weight: bolder;
}

.nav-bar{
    background-color: #438496;
    background: -webkit-linear-gradient(left top, #438496, rgba(67, 132, 150, .7));

    text-align: center;
    color: white;
}

.nav-bar h2{
    color: white;
    font-size: 1.3rem;
    font-weight: normal;
}

.logo{
    height: 70px;
    position:relative;
}

.sponsor{
    height: 70px;
    display: table;
}

.FAQ {
    height: 70px;
    display: table;
}

.sponsor h2{
    display: table-cell;
    vertical-align: middle;
}

.FAQ h2{
    display: table-cell;
    vertical-align: middle;
}

.logo img{
    height: 50px;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    left:5%;
}

.footer{
    background-color: #438496;
    background: -webkit-linear-gradient(left top, #438496, rgba(67, 132, 150, .7));

    text-align: center;
    color: white;
}

.footer h2{
    color: white;
    font-size: 1.3rem;
    font-weight: normal;
}
.footer p{
    font-size: .7rem;
    text-align:center;
    vertical-align: middle;
    display: table-cell;
}

.copyright{
    height:60px;
    display: table;
}

.faq{
    height:60px;
    display: table;
}

.faq h2{
    vertical-align: middle;
    display: table-cell;
}

.icon{
    height:60px;
    display: table;
}

.icon i{
    text-align:center;
    vertical-align: middle;
    display: table-cell;
    font-size: 36px;
}


@media (max-width: 400px) {
    
    .hero{
        margin-top: 70px;
    }
    
    .nav-bar{
        display: none;
    }
    
    .mobile-tabs{
        display: block;
    }
}
